@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 09, 0.9)),
    url('img/pexels-savvas-stavrinos-814544.jpg');
  background-position: fixed;
  background-size: cover;
  height: 100vh;
}
nav {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(/img/gilles-detot-SHtNHN7TgJw-unsplash.jpg);
  font-family: 'Montserrat', sans-serif;
}
#logo {
  width: 20px;
}
#lanlogo {
  margin-top: 340px;
  width: 100px;
}
#title {
  letter-spacing: 1px;
  word-spacing: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.container-fluid h1 {
  margin-top: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
